```text
# Example DATABASE_URL format:
# postgres://<DB_USER>:<DB_PASSWORD>@<HOST>:<PORT>/<DB_NAME>?schema=public
DATABASE_URL="postgresql://<DB_USER>:<DB_PASSWORD>@localhost:5433/<DB_NAME>?schema=public"

# Optionally you can set Postgres individual vars used by docker-compose:
# POSTGRES_USER=<DB_USER>
# POSTGRES_PASSWORD=<DB_PASSWORD>
# POSTGRES_DB=<DB_NAME>
```